########################################
# File:     .gitignore
# Created:  8/28/2023
# By:       Kaleb C
########################################

build/
documentation/coverageReport
*.pyc

########################################